{% extends "base.html" %}

{% block content %}
    <h2>Playlist list</h2>

    <p>
        <a href="{% url 'upload_playlist' %}">upload playlist</a>
    </p>



    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in playlists %}
                <tr>
                    <td>{{ playlist.title }}</td>
                    <td>{{ playlist.filename }}</td>
                    <td>{{ playlist.isgenerated }}</td>
                    <a href="{{ playlist.filename.url }}" class="btn btn-primary btn-sm">
                            Download playlist file
                        </a>
                    <td>
                    <form action="{% url 'gtpl' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="playlist_id" value="{{ playlist.id }}">
                        <button type="submit">Generate Tracklist</button>
                        is generated: {{ playlist.isgenerated }}
                    </form>
                        
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}